.frame-home-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 4%;
    height: 64px;
    width: calc(100% - 40px);
}

.frame-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 100px;
    gap: 50px;
    height: 64px;
    width: calc(100% - 40px);
}

.frame-header-logo {
    width: 40px;
    height: 40px;
}

.frame-home-page-header .home-header-logo {
    width: 40px;
    height: 40px;
}

.section-header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    height: 44px;
}