@import "/components/header/header.css";
@import "/components/button/headerButton/headerButton.css";
@import "/components/searchBar/searchBar.css";
@import "/components/userAvatar/userAvatar.css";
@import "/styles/font.css";
@import "/styles/general.css";

.container-link {
    gap: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.artist-name {
    font-size: 24px;
    font: 600;
}


.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: #404040;
}

.container-card:hover {
    z-index: 99;
    transition: 0.3s ease;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}

.container {
    width: calc(100% - 28%);
    padding-left: 14%;
    padding-right: 14%;
    margin-top: 140px;
}

.page-change-container {
    height: 120px;
    min-width: 60%;
    margin-bottom: 40px;
}

.card-frame {
    column-count: 3;
    column-gap: 10px;
}

.container-card {
    border-radius: 14px;
    border: #404040 1pt solid;
    padding: 10px 20px;
    z-index: 4;
    position: relative;
    display: flex;
    height: 300px;
    align-items: center;
    transition: 0.3s ease;
    transform: scale(1);
    margin-bottom: 30px;
    width: calc(100% - 40pxs);
    overflow: hidden;
}

.artist-info {
    display: flex;
    height: calc(100% - 55px);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.artist-bio {
    overflow: scroll;
    height: 100%;
    margin-bottom: 14px;
}

.artist-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#left-arrow {
    position: fixed;
    left: 4%;
    top: 50%;
}

#left-arrow:hover {
    animation: PopLeft 0.3s ease forwards;
}

#right-arrow {
    position: fixed;
    right: 4%;
    top: 50%;
}

#right-arrow:hover {
    animation: PopRight 0.3s ease forwards;
}

@keyframes PopLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes PopRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}