.--header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    position: relative;
    text-decoration: none;
    height: 44px;
}

.--header-button:hover::after {}

.--header-button::after {
    content: "";
    position: absolute;
    display: block;
    width: 80%;
    bottom: 0;
    height: 0;
    background-color: #202020;
}



.--header-button-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    flex: none;
    order: 0;
    flex-grow: 0;

    color: #000000;
}