.--header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    position: relative;
    text-decoration: none;
    height: 44px;

}

.--header-button:hover::after {
    height: 100%;
    transition: 0.3s;
}

.--header-button:hover .--header-button-text {
    color: #fff;
    transition: 0.3s;
}

.--header-button::after {
    z-index: 0;
    content: "";
    position: absolute;
    display: block;
    width: 86%;
    bottom: 0;
    height: 2px;
    background-color: #404040;

    transition: 0.3s;
}



.--header-button-text {
    z-index: 1;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    flex: none;
    order: 0;
    flex-grow: 0;

    color: #404040;

    transition: 0.3s;
}